<div class="container-fluid">
<app-header></app-header>
<div class="row mt-4">
    <div class="col-12">
        <h4 class="bg-light px-3 py-2 fw-normal">Add User</h4>
    </div>
</div>
<div class="row">
<div class="col-12 p-4">
<form class="card p-4">
    <div class="row g-6">
        <div class="col-md-6 col-xs-12 mb-4">
          <input type="text" class="form-control" placeholder="User name" aria-label="User name">
        </div>
        <div class="col-md-6 col-xs-12 mb-4">
          <input type="text" class="form-control" placeholder="Password" aria-label="password">
        </div>
      </div>
      <div class="row g-6">
        <div class="col-md-6 col-xs-12 mb-4">
            <input type="email" class="form-control" placeholder="Email" aria-label="email">
        </div>
        <div class="col-md-6 col-xs-12 mb-4">
            <input type="text" class="form-control" placeholder="Phone no" aria-label="phone no">
        </div> 
       </div>
       <div class="row g-6">
        <div class="col-md-6 col-xs-12 mb-4">
            <input type="text" class="form-control" placeholder="city" aria-label="city">
        </div>
        <div class="col-md-6 col-xs-12 mb-4">
            <input type="text" class="form-control" placeholder="State" aria-label="State">
        </div>
       </div>
       <div class="row g-6 mb-4">
         <div class="col text-center"> 
            <button type="button" class="btn btn-primary me-2">Primary</button>
            <button type="button" class="btn btn-secondary">Reset</button>
         </div>
       </div>
</form>
</div>
</div>
<app-footer></app-footer>
</div>
