
<div class="container-fluid">
<div class="row">
<div class="col-xs-12">
    <!-- <nav class="navbar sticky-top navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../../assets/images/7janpathforex-logo.png" style="max-height: 50px;" alt="" class="img-fluid" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <i class="fas fa-bars"></i>
      </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Other</a>
                    </li>
            </ul>
          </div>
        </div>
      </nav> -->
      <app-header></app-header>
</div>
</div>
<div class="row py-4">
<div class="col px-4">
    <span class="user-bg">
        <i class="pi pi-user" style="font-size: 1.5rem"></i>
    </span>
    <span class="user-name">Vikas patra</span>
</div>
<div class="col justify-content-end px-4">
<span class="d-flex justify-content-end date ">22/10/2024</span>
</div>
</div>
<div class="row py-2">
    <app-user-listing></app-user-listing>
</div>
<!-- <div class="row">
<div class="col-12">
    
</div>
</div> -->
<app-footer></app-footer>
</div>